#title{
  margin-left: 3%;
  margin-top: 8%;
  max-width: 800px;*/
}
#question
{ margin-top: 3%;
  margin-left: 3%;
  position: relative;
  max-width: 600px;
  display: inline-block;
}
#picture
{
  display: inline-block;
  position:absolute;
  left:50%;
  top: 50%;

}
